#footer{
  background-image: url(../../assets/wave.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff00;
  backdrop-filter: blur(2px);
  color: var(--color-white);
}